body {
  margin: 0 10px 0 10px;
  max-width: 782px;
}

.container {
  width: 782px;
  height: 1265px;
  border: solid black 2px;
}

.top-image {
  width: 782px;
  height: 782px;
  border: solid black 2px;
}

.bottom-rules {
  width: 782px;
  height: 483px
  border: solid black 2px;
  background: #60b89b;
}
#deck-area-label {
  height: 483px
  width: 150px;
  position: absolute;
  padding: 10px;
}

.deck-title{
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 80px;
}

.start {
  background: #df554c;
  margin-left: 240px;
  align-self: center;
  font-family: Raleway;
  font-size: 30px;
  color: #60b89b;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 730px;
}

.zimi {
  background: #df554c;
  margin-left: 20px;
  align-self: center;
  font-family: Raleway;
  font-size: 30px;
  color: #60b89b;
  width: 200px;
  height: 40px;
  position: absolute;
  top: 730px;
}

.play {
  background: #60b89b;
  margin-left: 240px;
  align-self: center;
  font-family: Raleway;
  font-size: 30px;
  color: #df554c;
  width: 200px;
  height: 40px;
  position: absolute;
  top: 730px;
}

.back {
  position: absolute;
  background: #fbba6f;
  height: 40px;
  width: 40px;
  top: 730px;
  margin-left: 500px;
}

h1 {
  font-family: Raleway;
  font-size: 100px;
  text-align: center;
}

h2 {
  font-family: Raleway;
  font-size: 30px;
  text-align: center;
}

p {
  font-family: Raleway;
  font-size: 15px;
  text-align: center;
}

li {
  font-family: Raleway;
  font-size: 15px;
  margin-left: 50px;
}

i {
    font-style: italic;
}

.deck-area {
  background: #aaaaaa;
  display: block;
  height: 483px;
  width: 782px;
  padding-top: 10px;
}

.card-thumbs {
height: 483px;
width: 632px;
margin-left: 150px;
float: left;
}

.card-area{
height: 150px;
width: 95px;
float: left;
}

.build-area {
width: 195px;
height: 305px;
position: absolute;
top: 460px;
left: 562px;
background: #aaaaaa;
border: solid #60b89b 2px;
}

.build-area-label {
position: absolute;
top: 50px;
}

.build-area-cards{
height: 150px;
width: 95px;
float: left;
}

.build-area img:nth-child(5){
  position: relative;
  z-index: 1;
  top: -225px;
  right: -47.5px;
}

.one-card-image-container {
  position: absolute;
  height: 493px;
  width: 294px;
  top: 10px;
  left: 330px;
  transform: rotate(8deg);
  padding-top: 10px;
  /*border: 2px red solid;*/
}

.two-card-image-container {
  position: absolute;
  height: 493px;
  width: 700px;
  top: 10px;
  left: 80px;
  transform: rotate(-8deg);
  padding-top: 10px;
/*  border: 2px red solid;
*/}

.two-card-image_1 {
  height: 483px;
  width: 294px;
  position: relative;
  left: 60px;
  transform: rotate(-8deg);
  /*border: 2px red solid;*/
}
.two-card-image_2 {
  height: 483px;
  width: 294px;
  position: relative;
  left: 330px;
  bottom: 463px;
  transform: rotate(18deg);
  /*border: 2px red solid;*/
}

.three-card-image-container {
  position: absolute;
  height: 493px;
  width: 800px;
  top: 10px;
  left: -20px;
  transform: rotate(-8deg);
  padding-top: 10px;
  /*border: 2px red solid;*/
}

.three-card-image_1 {
  height: 483px;
  width: 294px;
  transform: rotate(8deg);
  /*border: 2px red solid;*/
}
.three-card-image_2 {
  height: 483px;
  width: 294px;
  position: relative;
  left: 270px;
  bottom: 493px;
  transform: rotate(-8deg);
  /*border: 2px red solid;*/
}
.three-card-image_3 {
  height: 483px;
  width: 294px;
  position: relative;
  left: 500px;
  bottom: 936px;
  transform: rotate(18deg);
  /*border: 2px red solid;*/
}
.five-card-image-container {
  position: absolute;
  height: 700px;
  width: 600px;
  top: 0px;
  left: 120px;
  padding-top: 10px;
  transform: rotate(-18deg);
  /*border: 2px red solid;*/
}

.five-card-image_1 {
  float: left;
  width: 200px;
  height: 329px;
  transform: rotate(8deg);
  position: relative;
  margin-left: -20px;
  /*border: 2px red solid;*/
}
.five-card-image_2 {
  float: left;
  width: 200px;
  height: 329px;
  transform: rotate(8deg);
  position: relative;
  margin-left: -20px;
  /*border: 2px red solid;*/
}
.five-card-image_3 {
  float: left;
  width: 200px;
  height: 329px;
  transform: rotate(8deg);
  position: relative;
  margin-top: 50px;
  margin-left: -20px;
  /*border: 2px red solid;*/
}
.five-card-image_4 {
  float: left;
  width: 200px;
  height: 329px;
  transform: rotate(8deg);
  position: relative;
  margin-left: -20px;
  margin-top: -80px;
  /*border: 2px red solid;*/
}
.five-card-image_5 {
  float: left;
  width: 200px;
  height: 329px;
  transform: rotate(8deg);
  position: relative;
  margin-left: -20px;
  margin-top: -30px;
  /*border: 2px red solid;*/
}

.five-card-image_1 img {
  max-height: 100%;
  max-width: 100%;
}

.five-card-image_2 img {
  max-height: 100%;
  max-width: 100%;
}

.five-card-image_3 img {
  max-height: 100%;
  max-width: 100%;
}

.five-card-image_4 img {
  max-height: 100%;
  max-width: 100%;
}

.five-card-image_5 img {
  max-height: 100%;
  max-width: 100%;
}


