body {
  margin: 0 10px 0 10px;
  max-width: 782px;
}

.container {
  width: 782px;
  height: 1265px;
  border: solid black 2px;
}

.top-image {
  width: 782px;
  height: 782px;
  border: solid black 2px;
}

.bottom-rules {
  width: 782px;
  height: 483px
  border: solid black 2px;
  background: #60b89b;
}
#deck-area-label {
  height: 483px
  width: 150px;
}

.deck-title{
  text-orientation: sideways;
}

.start {
  background: #df554c;
  margin-left: 240px;
  align-self: center;
  font-family: Raleway;
  font-size: 30px;
  color: #60b89b;
  width: 300px;
  height: 40px;
  position: absolute;
  top: 710px;
}

.next{
  background: #df554c;
  margin-left: 20px;
  top: 1200px;
  align-self: center;
  font-family: Raleway;
  font-size: 30px;
  color: #60b89b;
  width: 100px;
  height: 40px;
  position: absolute;text-align: center;
  font-weight: bolder;
  border: solid #60b89b 2px;
  z-index: 2;

}


h1 {
  font-family: Raleway;
  font-size: 100px;
  text-align: center;
}

h2 {
  font-family: Raleway;
  font-size: 30px;
  text-align: center;
}

p {
  font-family: Raleway;
  font-size: 15px;
  text-align: center;
}

li {
  font-family: Raleway;
  font-size: 15px;
  margin-left: 50px;
}

i {
    font-style: italic;
}

a {
  text-decoration: none;
  text-align: center;
  padding: 15px 0 0 0;
  font-weight: bolder;
  border: solid #60b89b 2px;
}
